@import "./src/Utilities/GeneralMediaQueries";

.price {
  justify-self: end;
}

.nav_buttons {
  height: 40px;
  display: flex;
  justify-content: space-between;

  button {
    width: 25%;
    font-size: clamp(.8rem, 1vw, 1rem);

    @media (max-width: map-get($general-media-queries, "LAPTOP_1024")) {
      width: 40%;
    }
  }
}
