.card_page {
    padding: 50px 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        width: #{"min(520px, 80%)"}; // only works when using with string interpolation
    }

    .card_identity {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: #{"min(30vw, 230px)"};
        padding-top: #{"min(20px, 4vw)"};

        p {
            font-size: clamp(.6rem, 3vw, 1rem);
        }

        .logo {
            width: #{"max(140px, 40%)"};
            height: auto;
        }

        .card_type {
            margin: #{"min(3vw, 40px)"} 0;
            opacity: .6;
        }
    }

    .card_content {
        form {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: #{"min(5vw, 30px)"};
            padding: 10% 10% 0 10%;

            label, input, select, option {
                font-size: clamp(.7rem, 4vw, 1rem);
            }
            p {
                text-align: end;
                font-size: clamp(.6rem, 4vw, .8rem);
            }
        }
    }

    .action_buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: #{"min(5vw, 30px) 0"};

        button {
            width: 40%;
            font-size: clamp(.6rem, 4vw, .9rem);
        }
    }
}