@import "src/Utilities/GeneralMediaQueries";

.dialog {
    display: flex;
    padding: 1.5em;
    justify-content: space-between;

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }

    .divider {
        width: .4%;
        height: 200px;
        align-self: center;

        @media (max-width: 600px) {
            height: 2px;
            width: 200px;
        }
    }

    .product_image {
        width: 50%;
        flex: 1;

        img {
            height: 600px;
            padding: 10%;
            width: 100%;
            object-fit: contain;

            @media (max-width: 600px) {
                height: initial;
            }
        }
    }

    .content {
        flex: 1;
        display: grid;
        padding: 0 0 0 5%;
        grid-template-rows: repeat(3, 100px) auto 80px;
        grid-template-columns: 30% repeat(3, auto) 170px;
        grid-template-areas: "title title title title title"
                             "price price price price price"
                             "amount buy buy buy add_cart"
                             "desc desc desc desc desc"
                             "cart cart cart cart cart";

        @media (max-width: map-get($general-media-queries, "LAPTOP_1024")) {
            grid-template-columns: auto;
            grid-template-rows: repeat(4, auto) 2.8em;
            grid-template-areas: "title title title title"
                                 "price price amount amount"
                                 "desc desc desc desc"
                                 "buy buy add_cart add_cart"
                                 "cart cart cart cart";


            @media (max-width: 600px) {
                grid-template-rows: repeat(3, auto) 55px;
                padding: 5% 0 0 0;
            }
        }

        .title {
            font-size: clamp(1rem, 2vw, 1.5rem);
            font-weight: bold;
            padding: initial;
            grid-area: title;
        }

        .price {
            grid-area: price;
            align-self: center;
            font-size: clamp(0.9rem, 2vw, 1.5rem);
            font-weight: 700;
            opacity: 0.6;
        }

        .amount_control {
            grid-area: amount;
            align-self: center;
            align-items: center;
            display: flex;

            @media (max-width: 600px) {
                justify-self: end;
            }

            svg {
                width: #{"max(1rem, 2vw)"};
            }

            .amount {
                margin: 0 0.4em;
                font-size: clamp(.9rem, 2vw, 1.5rem);
            }
        }

        .buy_now {
            width: 75%;
            grid-area: buy;
            align-self: center;
            height: max-content;
            justify-self: center;
            font-size: clamp(0.5rem, 1.4vw, 0.9rem);

            @media (max-width: map-get($general-media-queries, "LAPTOP_1024")) {
                width: max-content;
            }
        }

        .add_cart {
            grid-area: add_cart;
            align-self: center;
            height: max-content;
            font-size: clamp(0.5rem, 1.4vw, 0.9rem);

            @media (max-width: map-get($general-media-queries, "LAPTOP_1024")) {
                justify-self: center;
                width: max-content;
            }
        }

        .description {
            max-height: 220px;
            padding-right: 1em;
            grid-area: desc;
            overflow-y: auto;
            font-size: clamp(0.7rem, 1.7vw, 1.1rem);
            line-height: clamp(1.1rem, 2.5vw, 2rem);
        }

        .cart {
            grid-area: cart;
            align-self: end;
            justify-self: end;

            span {
                font-size: clamp(0.5rem, 1.3vw, 0.7rem);
            }

            svg {
                height: auto;
                width: clamp(1.4rem, 2.5vw, 2.3rem);
            }
        }
    }
}