@import "../../../Utilities/GeneralMediaQueries";
@import "../../../Utilities/PageGeneralVariables";

$card_container_width: 400px;
$card_container_height: 440px;
$avatar_square_dimension: 180px;
$avatar_border: 30px;
$card_padding: 35px;
$media_card_content_height: 200px;

.card_container {
    max-width: $card_container_width;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1530px) {
        max-width: inherit;
        flex-direction: row;

        &:nth-child(2n) {
            margin-top: 100px;
            margin-bottom: 100px;
        }

        @media (max-width: map-get($general-media-queries, "LAPTOP_1024")) {
            flex-direction: column;
        }
    }

    .avatar_container {
        height: ($avatar_square_dimension + 2 * $avatar_border) / 2;

        @media (max-width: 1530px) {
            height: initial;
            width: ($avatar_square_dimension + 2 * $avatar_border) / 2;

            @media (max-width: map-get($general-media-queries, "LAPTOP_1024")) {
                width: initial;
                height: 18vw;
            }
        }

        .avatar {
            height: $avatar_square_dimension;
            width: $avatar_square_dimension;
            border-radius: 50%;
            object-fit: cover;
            object-position: center -20px;
            border-width: $avatar_border;
            border-style: solid;
            box-sizing: content-box;
            position: relative;
            z-index: 1;

            @media (max-width: 1530px) {
                width: clamp(80px, 20vw, 180px);
                height: clamp(80px, 20vw, 180px);
                border-width: clamp(8px, 3vw, 30px);

                @media (max-width: map-get($general-media-queries, "LAPTOP_1024")) {
                    object-position: center clamp(-20px, - 3vw, - 2px);
                }
            }
        }
    }

    .card_content {
        font-size: clamp(.8rem, 3vw, 1rem);
        text-align: center;
        padding: 130px $card_padding 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: $card_container_height;

        @media (max-width: 1530px) {
            padding: 0 20px 0 120px;
            height: $media_card_content_height;

            @media (max-width: map-get($general-media-queries, "LAPTOP_1024")) {
                padding: 60px 35px 15px;

                @media (max-width: map-get($general-media-queries, "MOBILE_320")) {
                    height: 250px;
                }
            }
        }

        p {
            opacity: 0.7;
        }

        .divider {
            width: 120px;
            height: clamp(0.5px, 0.4vw, 2.6px);
            background-color: black;
            opacity: 0.5;
        }

        .name {
            font-size: clamp(.6rem, 3vw, 1rem);
            opacity: 0.3;
        }
    }
}
