.card_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: #{"min(5vw, 30px)"};

    .zip_code,
    .city,
    .street,
    .complement {
        grid-column: 1 / -1;
    }
}