
.fakeness {
    font-family: "Nothing You Could Do", cursive;
    opacity: 0.5;
}

.grid_container {
    width: 100vw;
    margin-left: -8.8%;
    height: max-content;

    .grid_content {
        width: 89.3%;
        margin-left: 7.4%;
        height: inherit;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-row-gap: 40px;
    }
}