@import "../Utilities/PageGeneralVariables";
@import "../Utilities/GeneralMediaQueries";

.fakeness {
    font-family: "Nothing You Could Do", cursive;
    opacity: 0.5;
}

.grid_background {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;

    .floating_cart {
        width: 7.5vw;
        margin: 165px 0;

        @media (max-width: map-get($general-media-queries, "LAPTOP_1440")) {
            margin: 240px 0;
        }

        button {
            display: block;
            width: max-content;
            margin: auto;
        }
    }

    .grid_container {
        @include global-width();
        margin: 0 0 0 7.5vw;
        position: relative;

        .grid_content {
            height: inherit;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            grid-row-gap: 40px;
            grid-column-gap: $product-cards-column-gap;
            align-items: center;
            justify-items: center;
        }
    }
}