@import "../../../Utilities/PageGeneralVariables";

.header {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include global-width();

    .nav {
        width: 33%;

        .user_account {
            margin-left: 50%;
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            a {
                text-decoration: none;
                color: currentColor;
            }

            li {
                display: inline-block;
            }

            .cart {
                svg {
                    width: 40px;
                    height: auto;
                }
            }
        }
    }
}