.call {
    margin-left: 7.5%;

    .main_call {
        font-size: 2.5rem;
    }
    .sub_call {
        font-size: 1.5rem;
        opacity: 0.7;
    }
    .call_action {
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 20px;
    }
}

