@import "../../Utilities/LandingPageWidth";
@import "../../Utilities/GeneralMediaQueries";

.call {
    @include global-width();
    font-size: clamp(1rem, 6vw, 2.3rem);

    @media (max-width: map-get($general-media-queries, "LAPTOP_1024")) {
        color: white;
    }

    .sub_call {
        font-size: clamp(.8rem, 3vw, 1.5rem);
        opacity: 0.7;
    }

    .call_action {
        span:first-of-type {
            font-size: clamp(0.6rem, 2vw, 1rem);
        }

        text-transform: uppercase;
        font-weight: bold;
        margin-top: 20px;
    }
}

