@import "./src/Utilities/GeneralMediaQueries";

.container {
  .items {
    margin-top: 40px;
    height: 710px;
    overflow-y: auto;

    .item_grid {
      align-items: start;
      justify-content: stretch;
      padding: 1.4em 3%;
      grid-template-columns: 20% 20% auto 20%;
      grid-template-areas: "img name name price"
                           "img clear clear .";

      @media (max-width: map-get($general-media-queries, "TABLET")) {
        grid-template-areas: "img name name name"
                             "img clear price price";
      }

      .image {
        grid-area: img;
        background-color: white;
        position: relative;
        width: #{"min(80%, 100px)"};
        height: #{"min(80%, 100px)"};
        border: 1px solid #0000001c;
        border-radius: 6px;
        align-self: center;

        .badge {
          height: 100%;
        }

        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }

      .name {
        grid-area: name;
        font-weight: bold;
        font-size: clamp(0.8rem, 1vw, 1.1rem);
      }

      .price {
        font-size: clamp(1rem, 1.1vw, 2rem);
        justify-self: end;
        opacity: 0.4;
        font-weight: bold;
        grid-area: price;
      }

      .clear {
        grid-area: clear;
        font-size: clamp(0.7rem, 2vw, 0.7rem);
        padding: 0;
        width: 25%;
      }
    }
  }

  .purchase_amount {
    display: grid;
    align-items: center;
    margin: 0 5%;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto repeat(2, 60px) auto 60px;

    .divider {
      grid-column: 1 / -1;
      width: 30%;
      height: 2px;
    }

    .divider_total {
      grid-row: 4 / 5;
    }

    .subtotal {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    .shipping {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    .shipping_price {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }

    .total {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }

    .total_price {
      grid-column: 2 / 3;
      grid-row: 5 / 6;
    }

    .subtotal_price,
    .shipping_price,
    .total_price {
      justify-self: end;
    }
  }
}

