@import "../Utilities/PageGeneralVariables";

.fakee {
    font-family: "Nothing You Could Do", cursive;
    opacity: 0.5;
}

.testimonial_content {
    @include global-width();
    display: flex;
    justify-content: space-between;
    margin: 150px auto;
    @media (max-width: 1530px) {
        flex-direction: column;
        margin: clamp(50px, 20vw, 100px) auto;
    }
}

