.card {
    transform: scale(0.98);
    height: 500px;
    display: flex;
    flex-direction: column;
    max-width: 350px;

    .card_action_area {
        flex: 1;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .card_content {
            max-height: 100px;
            overflow: hidden;
            padding: 8px 0 0 0;
        }
    }

    p {
        font-size: .7rem;
    }

    .media {
        height: 275px;
        width: 100%;
        background-size: contain;
    }

    .card_title {
        font-size: 1rem;
        font-weight: bold;
        width: 100%;
        div {
            max-height: 30px;
            overflow: hidden;
        }
    }

    .card_actions {
        display: flex;
        justify-content: space-between;

        .price {
            font-weight: 700;
            font-size: 1.3rem;
            opacity: 0.7;
            margin-left: 2%;
        }

        .cart_arrow_down_button {
            width: 14%;

            .cart_arrow_down {
                width: 36px;
                height: auto;
                opacity: 0.6;
            }
        }
    }
}





