.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    height: 20%;
    font-size: 1.6rem;
  }

  svg {
    height: auto;
    width: 40%;
    fill: #e0e0e0;
  }
}