.toolbar {
    justify-content: space-between;
    .logo {
        width: 170px;
        height: 120px;
    }
    .menu_actions {
        display: flex;
        width: 150px;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }
}

