.id {
  grid-area: id;
}

.date {
  grid-area: date;
  justify-self: end;
}

.delivery {
  grid-area: delivery;
  display: flex;
  justify-content: space-between;
}

.payment {
  display: flex;
  grid-area: payment;
  justify-self: end;

  & > span {
    margin-right: 1em;
  }

  .p_status {
    width: 100%;
  }
}