@import "../../Utilities/LandingPageWidth";
@import "../../Utilities/GeneralMediaQueries";

.front_images {
    max-height: 700px;
    width: 100%;
    position: relative;

    .gradient {
        background-image: linear-gradient(to right, #f6f6f6 clamp(10%, 30vw, 90%), #dedcdcd9 clamp(20%, 50vw, 60%), transparent);
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: inherit;
        position: absolute;
        right: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        @media (max-width: map-get($general-media-queries, "LAPTOP_1024")) {
            background-image: none;
        }
    }

    .images {
        max-height: inherit;
        width: inherit;
        object-fit: cover;
        object-position: top right;
        filter: brightness(0.5);

        // Pay attention to this attribute if needed change the variable name when importing the image
        &[src*="frontImage1"] {
            object-position: 330px;
            @media (max-width: map-get($general-media-queries, "LAPTOP_1024")) {
                object-position: right;
            }
        }
    }
}
