@import "../../Utilities/LandingPageWidth";

.front_images {
    max-height: 700px;
    width: 100%;
    position: relative;

    .gradient {
        background-image: linear-gradient(to right, #f6f6f6 30%, #dedcdcd9 50%, transparent);
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: inherit;
        position: absolute;
        right: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .images {
        max-height: inherit;
        width: inherit;
        object-fit: cover;
        filter: brightness(0.5);

        // Pay attention to this attribute if needed change the variable name when importing the image
        &[src*="frontImage1"] {
            object-position: 330px;
        }
    }
}
