.mobile_filters_container {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100vw;
    margin-left: -7.5vw;
    padding: 0 7.5vw;

    .mobile_filters {
        display: flex;
        align-items: center;
        padding: 30px 5px;

        .cart {
            margin-left: 10px;
            svg {
                fill: white;
            }
        }
    }
}